*{
margin: 0px;
padding: 0px;
}
h1,p{
    margin: 30px;
}
p{
column-count: 4;
column-gap: 30px;
column-rule: 1px solid rgb(255, 0, 0);
}

ul.a {
  list-style-type: upper-roman;
  margin: 40px;
}
img{
  float: right;
}